/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a{
    text-decoration: none;
    color: #222;
}

.gnb a{

}

.gnb a:before{
    content: '01';
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    background-color: royalblue;
    color: #fff;
}

.gnb a:after{
    content: 'update';
    margin-left: 5px;
    border-radius: 3px;
    background-color: crimson;
    color: #fff;
    font-size: 12px;
    padding: 2px;
}