@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container .navi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.container .navi{
    list-style: none;
}

.container .navi li a {
    text-decoration: none;
    color: white;
    font-size: 4em;
    font-weight: bold;
    position: relative;
}

.container .navi li a:before {
    position: absolute;
    color: yellowgreen;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    content: attr(data-text);
    transition: 0.5s;
}

.container .navi li a:hover:before {
    width: 100%;
}

.container .photo {
    /* background-color: #ddd; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../images/portrait-initial.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: 0.5s;
}
